.contact-us-wrapper {
  background-color: white;

  .inner {
    width: 1100px;
    height: 612px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }

  .divider {
    height: 2px;
    background-color: #ff8b38;
    width: 64px;
    margin: 32px auto;
  }

  .sub-title {
    color: #a4a5a8;
    font-size: 18px;
    text-align: center;
  }

  .form {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }

  .input-group {
    padding: 0px 38px;
    width: 530px;
  }

  .form-input {
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    height: 30px;
    margin-bottom: 40px;
    position: relative;

    &:last-child {
      margin-bottom: 50px;
    }

    &::after {
      content: '';
      width: 0%;
      height: 1px;
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: #333334;
      transition: 500ms;
    }

    &:focus-within {
      &::after {
        width: 100%;
      }
    }

    input {
      width: 100%;
      border: 0;
      outline: 0;
      font-size: 15px;
      color: #333334;

      &::placeholder {
        color: #d6d6d6;
      }
    }
  }

  .text-area {
    height: 174px;
    width: 530px;

    textarea {
      resize: none;
      height: 172px;
      width: 530px;
      border: 0;
      outline: 0;
      color: #333334;

      &::placeholder {
        color: #d6d6d6;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact-us-wrapper {
    .inner {
      width: unset;
      height: auto;
      padding: 40px 0px;
    }

    .form {
      flex-direction: column !important;
    }

    .input-group {
      margin: 0px auto;
      padding: 0;
    }

    .text-area {
      margin: 0px auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-us-wrapper {
    .inner {
      width: unset;
      height: auto;
      padding: 40px 0px;
    }

    .title {
      font-size: 35px;
    }

    .form {
      flex-direction: column !important;
      padding: 0px 30px;
    }

    .input-group {
      width: 100%;
    }

    .text-area {
      width: 100%;

      textarea {
        width: auto;
      }
    }
  }
}
