.standard-picture-wrapper {
  background-color: #f5f5f5;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 525px;
    margin: 0px auto;
  }

  .content {
    width: 475px;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    color: #212121;
  }

  .divider {
    width: 64px;
    height: 1.5px;
    background-color: #ff8b38;
    margin: 30px 0px;
  }

  .paragraph {
    color: #a2a3a6;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .standard-image {
    width: 450px;
  }
}

@media only screen and (max-width: 1200px) {
  .standard-picture-wrapper {
    .inner {
      flex-direction: column;
      height: auto;
      width: unset;
      padding: 70px 0px;
    }

    .title {
      text-align: center;
    }

    .divider {
      margin: 30px auto;
    }

    .paragraph {
      text-align: center;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .standard-picture-wrapper {
    .content {
      width: unset;
    }

    .standard-image {
      width: 350px;
    }
  }
}
