.sub-list-wrapper {
  background: white;

  .inner {
    width: 1100px;
    margin: 0px auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .city-image {
    width: 460px;
  }

  .content {
    width: 436px;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    color: #212121;
  }

  .divider {
    width: 64px;
    height: 1.5px;
    background-color: #ff8b38;
    margin: 30px 0px;
  }

  .paragraph {
    color: #a2a3a6;
    margin-bottom: 40px;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .sub-content {
    display: flex;

    &:first-child {
      margin-bottom: 40px;
    }

    .title {
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: 600;
      color: #212121;
    }
  }

  .image-group {
    position: relative;
  }

  .circle-image {
    width: 40px;
    height: 40px;
    margin-right: 25px;
  }

  .icon {
    width: 25px;
    position: absolute;
    left: 8px;
    top: 9px;
  }
}

@media only screen and (max-width: 1200px) {
  .sub-list-wrapper {
    .inner {
      flex-direction: column;
      height: auto;
      width: unset;
      padding: 70px 0px;
    }

    .title {
      margin-top: 40px;
      text-align: center;
    }

    .divider {
      margin: 30px auto;
    }

    .paragraph {
      text-align: center;
    }

    .sub-content {
      flex-direction: column;

      .image-group {
        margin: 0px auto;
      }

      .circle-image {
        margin-right: 0px;
      }

      .title {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .sub-list-wrapper {
    .city-image {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .sub-list-wrapper {
    .content {
      width: unset;
    }
  }
}
